<a href="https://colab.research.google.com/github/Changyoon-Lee/big_contest/blob/jeje/%EC%84%9C%EC%9A%B8%EC%8B%9C_%EB%B2%84%EC%8A%A4_%EC%8A%B9%ED%95%98%EC%B0%A8%EC%9D%B8%EA%B5%AC%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 좌표별로 매칭시키기

In [ ]:
import pandas as pd

In [ ]:
df_bus = pd.read_excel('/content/drive/My Drive/모공전/빅콘/서울시버스정류소좌표데이터(2020.03.06).xlsx')
df_bus

            표준ID  ARS-ID           정류장명         X좌표        Y좌표   비고
0      100000001    1001        종로2가사거리  126.987750  37.569765  NaN
1      100000002    1002    창경궁.서울대학교병원  126.996566  37.579183  NaN
2      100000003    1003      명륜3가.성대입구  126.998340  37.582671  NaN
3      100000004    1004       종로2가.삼일교  126.987613  37.568579  NaN
4      100000005    1005  혜화동로터리.여운형활동터  127.001744  37.586243  NaN
...          ...     ...            ...         ...        ...  ...
11275  124000334   25995          우성아파트  127.139339  37.550386  NaN
11276  124000333   25996          우성아파트  127.140046  37.550643  NaN
11277  124000332   25997           조일약국  127.123596  37.533630  NaN
11278  124000331   25998           성내시장  127.125497  37.536155  NaN
11279  124000330   25999    천호우체국.로데오거리  127.127337  37.540343  NaN

[11280 rows x 6 columns]

In [ ]:
bus = df_bus[['정류장명', 'X좌표', 'Y좌표']]

In [ ]:
!pip install dbfread

Collecting dbfread
  Downloading https://files.pythonhosted.org/packages/4c/94/51349e43503e30ed7b4ecfe68a8809cdb58f722c0feb79d18b1f1e36fe74/dbfread-2.0.7-py2.py3-none-any.whl
Installing collected packages: dbfread
Successfully installed dbfread-2.0.7

In [ ]:
from dbfread import DBF
dbf = DBF('/content/drive/My Drive/모공전/빅콘/skt/4개지역_행정동.DBF')
dbf = pd.DataFrame(dbf)

In [ ]:
dbf

   STD_YYYY    HDONG_CD HDONG_NM  ...    LENGTH           X_COORD           Y_COORD
0      2020  2726067000     고산1동  ...  17757.54   128.69963062806  35.8117467030855
1      2020  2726068000     고산2동  ...  25763.81  128.677147073408   35.838758403345
2      2020  2726069000     고산3동  ...  11274.68  128.714043831276  35.8490479398919
3      2020  2726064000      두산동  ...   7777.10  128.620832776346  35.8285656536299
4      2020  2726055000     만촌1동  ...   8778.85  128.649513200936  35.8706818518603
..      ...         ...      ...  ...       ...               ...               ...
64     2020  1114068000      중림동  ...   3500.86  126.966042028799  37.5573555328314
65     2020  1114064500      청구동  ...   2696.70  127.015201201613  37.5568631855271
66     2020  1114057000       필동  ...   6575.62  126.992276757613  37.5568174037835
67     2020  1114067000      황학동  ...   2381.97  127.020846207973  37.5685359648242
68     2020  1114054000      회현동  ...   4540.89  126.976855625748  37.5571782653588

[69 rows x 11 columns]

In [ ]:
seoul = dbf[dbf['SIDO_NM'] == '서울특별시'].reset_index(drop=True)
daegu = dbf[dbf['SIDO_NM'] == '대구광역시'].reset_index(drop=True)

In [ ]:
daegu

   STD_YYYY    HDONG_CD HDONG_NM  ...    LENGTH           X_COORD           Y_COORD
0      2020  2726067000     고산1동  ...  17757.54   128.69963062806  35.8117467030855
1      2020  2726068000     고산2동  ...  25763.81  128.677147073408   35.838758403345
2      2020  2726069000     고산3동  ...  11274.68  128.714043831276  35.8490479398919
3      2020  2726064000      두산동  ...   7777.10  128.620832776346  35.8285656536299
4      2020  2726055000     만촌1동  ...   8778.85  128.649513200936  35.8706818518603
5      2020  2726056000     만촌2동  ...   6557.48  128.649443436355  35.8612147057906
6      2020  2726056100     만촌3동  ...   6128.71  128.650132933898  35.8505466545159
7      2020  2726066100     범물1동  ...  13139.00   128.66024870239  35.8099104342779
8      2020  2726066200     범물2동  ...   6622.30  128.643913263768  35.8102944838386
9      2020  2726051000     범어1동  ...   4716.74  128.627031015619  35.8536368237961
10     2020  2726052000     범어2동  ...   4715.14    128.6330577338  35.8627127953095
11     2020  2726053000     범어3동  ...   4020.55  128.622600238921  35.8641665534427
12     2020  2726054000     범어4동  ...   4728.33  128.638226004256  35.8538508855515
13     2020  2726062000       상동  ...   5101.76  128.611693171594  35.8334148598807
14     2020  2726057000    수성1가동  ...   3661.37  128.610936533346  35.8550712619357
15     2020  2726058000  수성2.3가동  ...   3285.80  128.617408589162  35.8552785483966
16     2020  2726059000    수성4가동  ...   3829.00  128.616116357105  35.8626914748011
17     2020  2726061000       중동  ...   4451.60  128.612347093901  35.8448373462767
18     2020  2726065100     지산1동  ...  10284.43   128.63775326023  35.8301813794239
19     2020  2726065200     지산2동  ...   6398.80   128.63198734492  35.8180677000013
20     2020  2726063000       파동  ...  12540.77  128.614826265743  35.8122836048244
21     2020  2726060100     황금1동  ...   7809.02  128.638222768217  35.8410285463994
22     2020  2726060200     황금2동  ...   4589.95  128.622883250471  35.8450712281026
23     2020  2711064000     남산1동  ...   3548.70  128.592665828965  35.8599500679476
24     2020  2711065000     남산2동  ...   2888.45  128.588267962403   35.864117640732
25     2020  2711066000     남산3동  ...   2582.10  128.585983587823  35.8598770078931
26     2020  2711067000     남산4동  ...   2892.57  128.579200137894  35.8608338422655
27     2020  2711068000     대봉1동  ...   3410.40  128.604534763131  35.8593765982634
28     2020  2711069000     대봉2동  ...   3255.92   128.59855587947  35.8577095855388
29     2020  2711059500      대신동  ...   3493.32  128.578949065799  35.8672708240136
30     2020  2711051700      동인동  ...   4251.23  128.607589253994  35.8702683546212
31     2020  2711054500      삼덕동  ...   4041.38  128.604447414686   35.865187252607
32     2020  2711056500     성내1동  ...   5292.34  128.597171104495  35.8684198683997
33     2020  2711057500     성내2동  ...   4871.69  128.589307562573  35.8707558427347
34     2020  2711058500     성내3동  ...   4586.72  128.582450439906  35.8749498949126

[35 rows x 11 columns]

In [ ]:
daegu['X_COORD'].dtype

dtype('O')

In [ ]:
seoul_ = seoul[['HDONG_NM','X_COORD','Y_COORD']]
seoul_['X_COORD'] = seoul_['X_COORD'].astype(float)
seoul_['Y_COORD'] = seoul_['Y_COORD'].astype(float)
seoul_['HDONG_NM'] = seoul_['HDONG_NM'].astype(str)
seoul_

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   HDONG_NM     X_COORD    Y_COORD
0      공릉1동  127.072581  37.624093
1      공릉2동  127.094192  37.631583
2     상계10동  127.058356  37.659583
3      상계1동  127.064630  37.683400
4      상계2동  127.067094  37.656655
5    상계3.4동  127.083143  37.675752
6      상계5동  127.070177  37.663438
7    상계6.7동  127.060128  37.648597
8      상계8동  127.053644  37.666250
9      상계9동  127.062378  37.667674
10     월계1동  127.058408  37.621905
11     월계2동  127.051165  37.633978
12     월계3동  127.064712  37.624800
13     중계1동  127.073705  37.650111
14   중계2.3동  127.065856  37.643404
15     중계4동  127.083624  37.658576
16     중계본동  127.085488  37.647631
17     하계1동  127.075006  37.638544
18     하계2동  127.064952  37.634923
19      광희동  127.003693  37.565177
20      다산동  127.008419  37.555034
21      동화동  127.018648  37.560674
22       명동  126.984205  37.563586
23      소공동  126.974020  37.564293
24     신당5동  127.021838  37.563627
25      신당동  127.013671  37.565724
26      약수동  127.010301  37.550170
27     을지로동  126.996387  37.566585
28      장충동  127.001637  37.555864
29      중림동  126.966042  37.557356
30      청구동  127.015201  37.556863
31       필동  126.992277  37.556817
32      황학동  127.020846  37.568536
33      회현동  126.976856  37.557178

In [ ]:
daegu_ = daegu[['HDONG_NM','X_COORD','Y_COORD']]
daegu_['X_COORD'] = daegu_['X_COORD'].astype(float)
daegu_['Y_COORD'] = daegu_['Y_COORD'].astype(float)
daegu_['HDONG_NM'] = daegu_['HDONG_NM'].astype(str)
daegu_

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   HDONG_NM     X_COORD    Y_COORD
0      고산1동  128.699631  35.811747
1      고산2동  128.677147  35.838758
2      고산3동  128.714044  35.849048
3       두산동  128.620833  35.828566
4      만촌1동  128.649513  35.870682
5      만촌2동  128.649443  35.861215
6      만촌3동  128.650133  35.850547
7      범물1동  128.660249  35.809910
8      범물2동  128.643913  35.810294
9      범어1동  128.627031  35.853637
10     범어2동  128.633058  35.862713
11     범어3동  128.622600  35.864167
12     범어4동  128.638226  35.853851
13       상동  128.611693  35.833415
14    수성1가동  128.610937  35.855071
15  수성2.3가동  128.617409  35.855279
16    수성4가동  128.616116  35.862691
17       중동  128.612347  35.844837
18     지산1동  128.637753  35.830181
19     지산2동  128.631987  35.818068
20       파동  128.614826  35.812284
21     황금1동  128.638223  35.841029
22     황금2동  128.622883  35.845071
23     남산1동  128.592666  35.859950
24     남산2동  128.588268  35.864118
25     남산3동  128.585984  35.859877
26     남산4동  128.579200  35.860834
27     대봉1동  128.604535  35.859377
28     대봉2동  128.598556  35.857710
29      대신동  128.578949  35.867271
30      동인동  128.607589  35.870268
31      삼덕동  128.604447  35.865187
32     성내1동  128.597171  35.868420
33     성내2동  128.589308  35.870756
34     성내3동  128.582450  35.874950

In [ ]:
bus['정류장명'] = bus['정류장명'].astype(str)
bus

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                정류장명         X좌표        Y좌표
0            종로2가사거리  126.987750  37.569765
1        창경궁.서울대학교병원  126.996566  37.579183
2          명륜3가.성대입구  126.998340  37.582671
3           종로2가.삼일교  126.987613  37.568579
4      혜화동로터리.여운형활동터  127.001744  37.586243
...              ...         ...        ...
11275          우성아파트  127.139339  37.550386
11276          우성아파트  127.140046  37.550643
11277           조일약국  127.123596  37.533630
11278           성내시장  127.125497  37.536155
11279    천호우체국.로데오거리  127.127337  37.540343

[11280 rows x 3 columns]

In [ ]:
bus[bus['정류장명'].str.contains("명동")]

          정류장명         X좌표        Y좌표
298       명동의류  126.978369  37.616305
435       명동입구  126.985241  37.560654
436  퇴계로2가.명동역  126.984491  37.560893
519    명동국민은행앞  126.982587  37.564502
578   명동역.세종호텔  126.986584  37.561096
602         명동  126.985619  37.560758
613       명동입구  126.982299  37.564200

In [ ]:
seoul[seoul['HDONG_NM'] == '명동']['X_COORD']

22    126.984204994077
Name: X_COORD, dtype: object

In [ ]:
# close_station = {'행정구역' : [],
#                  '버스정류장' : []}
# for dong in test2.index:
#     start = (test2.loc[dong]['위도'], test2.loc[dong]['경도'])
#     distance_dic = {}
#     for station in sub_test.index:
#         goal = (sub_test.loc[station]['위도'].mean(), sub_test.loc[station]['경도'].mean())
#         distance_dic[station] = haversine(start, goal)
#     close_ = sorted((value, key) for key, value in distance_dic.items())[0][1]
#     close_station['행정구역'].append(dong)
#     close_station['지하철역'].append(close_)

# 버스정류장 승하차 시간별로

In [ ]:
import pandas as pd

In [ ]:
samwol = pd.read_csv('/content/drive/My Drive/모공전/빅콘/skt/4개지역_FLOW_TIME_202003.CSV', sep = '|')
samwol

      STD_YM   STD_YMD    HDONG_CD HDONG_NM  ...  TMST_20  TMST_21  TMST_22  TMST_23
0     202003  20200301  1114052000      소공동  ...  2478.25  2123.14  1765.69  1256.23
1     202003  20200301  1114054000      회현동  ...  3083.64  2774.89  2589.12  1503.40
2     202003  20200301  1114055000       명동  ...  2662.49  2529.71  1766.31  1437.70
3     202003  20200301  1114057000       필동  ...  2165.96  1929.29  1598.72  1208.98
4     202003  20200301  1114058000      장충동  ...  1169.48   977.98   760.95   592.08
...      ...       ...         ...      ...  ...      ...      ...      ...      ...
2134  202003  20200331  2726066100     범물1동  ...  1460.68   993.91   794.86   586.92
2135  202003  20200331  2726066200     범물2동  ...  1155.34  1022.80   943.95   881.67
2136  202003  20200331  2726067000     고산1동  ...  5600.87  4825.85  3817.97  2931.95
2137  202003  20200331  2726068000     고산2동  ...  9248.31  7410.38  5975.91  4070.74
2138  202003  20200331  2726069000     고산3동  ...  2637.40  2226.08  1750.68  1382.54

[2139 rows x 28 columns]

In [ ]:
subway = pd.read_csv('/content/drive/My Drive/모공전/빅콘/skt/서울 지하철역 좌표.csv')
subway

          역명                               상세주소          경도         위도   상태
0         서울        서울특별시 중구 봉래동2가 122 서울역(1호선)  126.969563  37.558156  정좌표
1         시청           서울특별시 중구 정동 5-5 시청역(1호선)  126.976919  37.565597  정좌표
2         종각          서울특별시 종로구 종로1가 54 종각지하철역사  126.981390  37.570222  정좌표
3       종로5가      서울특별시 종로구 종로5가 82-1 1호선 종로5가역  127.001925  37.571020  정좌표
4        동대문  서울특별시 종로구 창신동 492-1 1호선 동대문역(1호선)  127.011233  37.571759  정좌표
..       ...                                ...         ...        ...  ...
273  부천종합운동장      경기도 부천시 원미구 춘의동 15-1 부천종합운동장역  126.797466  37.505639   실패
274       춘의            경기도 부천시 원미구 춘의동 145 춘의역  126.787091  37.503859   실패
275      신중동         경기도 부천시 원미구 중동 1140-6 신중동역  126.775952  37.503189   실패
276     부천시청          경기도 부천시 원미구 중동 1243 부천시청역  126.764025  37.504748   실패
277       상동             경기도 부천시 원미구 상동 633 상동역  126.753153  37.505885   실패

[278 rows x 5 columns]

In [ ]:
!pip install haversine

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/72/8e/6df8b563dd6b2961a36cd740b34c00b89142f1b97d92092c133379b2973f/haversine-2.2.0-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.2.0

In [ ]:
from haversine import haversine
haversine((subway['경도'][0], subway['위도'][0]), (subway['경도'][1], subway['위도'][1]))

0.957474754904962

In [ ]:
subway['경도'][0]

126.96956278438499

In [ ]:
subway['역명'].nunique()

244

In [ ]:
type(df_bus['사용년월'][0])

numpy.int64

In [ ]:
import pandas as pd
df_bus = pd.read_csv('/content/drive/My Drive/모공전/빅콘/2019년_버스노선별_정류장별_시간대별_승하차_인원_정보(01월_07월).csv', encoding='cp949')
df_bus = df_bus[(201902 <= df_bus['사용년월'])&(df_bus['사용년월'] <= 201905)]

In [ ]:
df_bus.reset_index(drop=True, inplace=True)

In [ ]:
df_bus

          사용년월  노선번호              노선명  ...  23시승차총승객수 23시하차총승객수      등록일자
0       201902   100   100번(하계동~용산구청)  ...         75        29  20190303
1       201902   100   100번(하계동~용산구청)  ...        186        40  20190303
2       201902   100   100번(하계동~용산구청)  ...        184        21  20190303
3       201902   100   100번(하계동~용산구청)  ...          6         3  20190303
4       201902   100   100번(하계동~용산구청)  ...        108        42  20190303
...        ...   ...              ...  ...        ...       ...       ...
154744  201905  9714  9714번(교하운정~서울역)  ...          0        46  20190603
154745  201905  9714  9714번(교하운정~서울역)  ...         19         6  20190603
154746  201905  9714  9714번(교하운정~서울역)  ...          1         3  20190603
154747  201905  9714  9714번(교하운정~서울역)  ...         11         0  20190603
154748  201905  9714  9714번(교하운정~서울역)  ...         44         3  20190603

[154749 rows x 55 columns]

In [ ]:
# df_bus['23시하차총승객수'] = list(df_bus['역명'])
# df_bus

In [ ]:
df_bus['노선번호'].nunique()

614

In [ ]:
type(df_bus['노선번호'][0])

str

In [ ]:
# df_bus.drop(['역명'], axis=1, inplace=True)

In [ ]:
# df_bus.rename(columns = {'역ID' : '역명'}, inplace = True)

In [ ]:
# duplicated_bus = df_bus[df_bus.duplicated(['노선번호'])].reset_index(drop=True)
# duplicated_bus

In [ ]:
# 코로나 확진자를 동별로 찾고 동을 지하철에 매치하는거 ?

In [ ]:
df_bus['노선명']

0          100번(하계동~용산구청)
1          100번(하계동~용산구청)
2          100번(하계동~용산구청)
3          100번(하계동~용산구청)
4          100번(하계동~용산구청)
               ...
154744    9714번(교하운정~서울역)
154745    9714번(교하운정~서울역)
154746    9714번(교하운정~서울역)
154747    9714번(교하운정~서울역)
154748    9714번(교하운정~서울역)
Name: 노선명, Length: 154749, dtype: object

In [ ]:
df_bus = df_bus.groupby(['노선번호', '사용년월']).sum()
df_bus.drop(['등록일자'], axis=1, inplace=True)
df_bus

             00시승차총승객수  00시하차총승객수  1시승차총승객수  ...  22시하차총승객수  23시승차총승객수  23시하차총승객수
노선번호 사용년월                                    ...
100  201902       4316       5297       386  ...      20432       9418      11012
     201903       5753       6905       386  ...      27301      11531      13718
     201904       6026       6863       508  ...      27422      11266      13350
     201905       6941       8056       501  ...      28120      12660      14698
101  201902       6322       8063       168  ...      21066      14506      16726
...                ...        ...       ...  ...        ...        ...        ...
중랑01 201905          6         12         0  ...        631        203        225
중랑02 201902          0          0         0  ...       6031       2999       3553
     201903          0          0         0  ...       7891       3484       4159
     201904          0          0         0  ...       7294       3380       4021
     201905          0          0         0  ...       7861       3457       4232

[2455 rows x 48 columns]

In [ ]:
# def sum_noseon(noseon_num):
#   embark = []
#   disembark = []
#   embark.append(duplicated_bus[duplicated_bus['노선번호'] == noseon_num]['00시승차총승객수'].sum())
#   disembark.append(duplicated_bus[duplicated_bus['노선번호'] == noseon_num]['00시하차총승객수'].sum())
#   for i in range(1, 24):
#     embark.append(duplicated_bus[duplicated_bus['노선번호'] == noseon_num]['{}시승차총승객수'.format(i)].sum())
#     disembark.append(duplicated_bus[duplicated_bus['노선번호'] == noseon_num]['{}시하차총승객수'.format(i)].sum())
  
#   # df_bus[df_bus['노선번호'] == noseon_num].drop(axis=0).reset_index(drop=True, inpl)
#   return embark, disembark

In [ ]:
# sum_noseon('01A')

In [ ]:
df_bus.reset_index(inplace=True)

In [ ]:
df_bus

      노선번호    사용년월  00시승차총승객수  ...  22시하차총승객수  23시승차총승객수  23시하차총승객수
0      100  201902       4316  ...      20432       9418      11012
1      100  201903       5753  ...      27301      11531      13718
2      100  201904       6026  ...      27422      11266      13350
3      100  201905       6941  ...      28120      12660      14698
4      101  201902       6322  ...      21066      14506      16726
...    ...     ...        ...  ...        ...        ...        ...
2450  중랑01  201905          6  ...        631        203        225
2451  중랑02  201902          0  ...       6031       2999       3553
2452  중랑02  201903          0  ...       7891       3484       4159
2453  중랑02  201904          0  ...       7294       3380       4021
2454  중랑02  201905          0  ...       7861       3457       4232

[2455 rows x 50 columns]

In [ ]:
df_bus_05 = df_bus[df_bus['사용년월'] == 201905]
df_bus_05.reset_index(drop=True, inplace=True)
df_bus_05

     노선번호    사용년월  00시승차총승객수  ...  22시하차총승객수  23시승차총승객수  23시하차총승객수
0     100  201905       6941  ...      28120      12660      14698
1     101  201905       8446  ...      26631      17514      19727
2    1014  201905       1761  ...      13914      10479      10490
3    1017  201905        702  ...       7553       4324       4895
4     102  201905       2983  ...      21732      11355      13349
..    ...     ...        ...  ...        ...        ...        ...
609  종로11  201905          0  ...       2605        279        384
610  종로12  201905          0  ...       1236        375        505
611  종로13  201905          0  ...       1273          0          0
612  중랑01  201905          6  ...        631        203        225
613  중랑02  201905          0  ...       7861       3457       4232

[614 rows x 50 columns]

In [ ]:
df_bus_05.to_csv('1905버스_시간대별_승하차.csv', index=False)

In [ ]:
pd.read_csv('/content/drive/My Drive/모공전/빅콘/2020-2019 버스 시간대별 승하차 데이터/2002버스_시간대별_승하차.csv')