In [96]:
import pickle
import pandas as pd
from function import makefulldate, makefulldate2
from function import DFyoon

In [97]:
dfyoon = DFyoon()
len(dfyoon.station_list)

불러오기완료

250

In [173]:
df = pd.read_pickle('data/지하철데이터_창윤.pkl')
df1 = pd.read_pickle('data/공휴일추가.pkl')
df.reset_index(inplace=True)
df.rename(columns={'날짜':'date'}, inplace=True)
df1.reset_index(inplace=True)
df1.rename(columns={'날짜':'date'}, inplace=True)
col_need = ['date','역명', '5-6', '6-7', '7-8', '8-9', '9-10', '10-11', '11-12',
       '12-13', '13-14', '14-15', '15-16', '16-17', '17-18', '18-19', '19-20',
       '20-21', '21-22', '22-23', '23-24', '24-01']
col_nee= ['5-6', '6-7', '7-8', '8-9', '9-10', '10-11', '11-12',
       '12-13', '13-14', '14-15', '15-16', '16-17', '17-18', '18-19', '19-20',
       '20-21', '21-22', '22-23', '23-24', '24-01']

In [174]:
df.head()

,date,호선,역번호,역명,구분,5-6,6-7,7-8,8-9,9-10,...,18-19,19-20,20-21,21-22,22-23,23-24,24-01,합 계,요일,공휴일
0,2019-01-01,1호선,150,서울역,승차,348,321,348,741,940,...,3277,2898,2590,3004,2234,970,38,39559,화요일,0
1,2019-01-01,6호선,2630,녹사평(용산구청),승차,171,117,58,81,104,...,272,212,238,239,188,72,0,3506,화요일,0
2,2019-01-01,6호선,2629,삼각지,하차,46,89,64,80,105,...,128,152,157,116,152,80,14,2411,화요일,0
3,2019-01-01,6호선,2629,삼각지,승차,48,68,51,80,110,...,269,150,125,100,74,50,0,2981,화요일,0
4,2019-01-01,6호선,2628,효창공원앞,하차,24,76,64,103,129,...,213,179,149,163,145,80,12,2533,화요일,0

In [175]:
renamed_dic = {'서울역':'서울',
               "낙성대(강감찬)":'낙성대',
               '용마산(용마폭포공원)':'용마산',
               '동대문역사문화공원(DDP)':'동대문역사문화공원'}
for i in range(len(df['역명'])):
    if df['역명'][i] in ['서울역','낙성대(강감찬)','용마산(용마폭포공원)','동대문역사문화공원(DDP)']:
        
        df['역명'][i] = renamed_dic[df['역명'][i]]
df = df.query('역명 not in ["신내"]')
df_date2 = makefulldate2()
df = pd.merge(df_date2,df, on = 'date',how='left')

C:\Users\YOON\anaconda3\envs\nlp\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [195]:
df_down_ = df[df['구분']=='승차']
df_down_ = df_down_[col_need+['요일']].groupby(['역명','요일','date']).sum()

import numpy as np
from copy import deepcopy
df_down_temp = deepcopy(df_down_)

In [196]:
df_down_temp.reset_index(inplace=True)
df_down_temp.set_index(['역명','요일','date'],inplace=True)

In [197]:
for i in df_down_temp.reset_index()['역명'].unique():
    print(i, len(df_down_temp.loc[i]))

가락시장 183
가산디지털단지 183
강남 183
강남구청 183
강동 183
강동구청 183
강변(동서울터미널) 183
개롱 183
개화산 183
거여 183
건대입구 183
경복궁(정부서울청사) 183
경찰병원 183
고덕 183
고려대(종암) 183
고속터미널 183
공덕 183
공릉(서울과학기술대) 183
광나루(장신대) 183
광명사거리 183
광화문(세종문화회관) 183
광흥창(서강) 183
교대(법원.검찰청) 183
구로디지털단지 183
구산 183
구의(광진구청) 183
구파발 183
군자(능동) 183
굴포천 183
굽은다리(강동구민회관앞) 183
금호 183
길동 183
길음 183
김포공항 183
까치산 183
까치울 183
낙성대 183
남구로 183
남부터미널(예술의전당) 183
남성 183
남태령 183
남한산성입구(성남법원.검찰청) 183
내방 183
노원 183
녹번 183
녹사평(용산구청) 183
논현 183
단대오거리 183
답십리 183
당고개 183
당산 183
대림(구로구청) 183
대청 183
대치 183
대흥(서강대앞) 183
도곡 183
도림천 183
도봉산 183
독립문 183
독바위 183
돌곶이 183
동대문 183
동대문역사문화공원 183
동대입구 183
동묘앞 183
동작(현충원) 183
둔촌동 183
디지털미디어시티 183
뚝섬 183
뚝섬유원지 183
마곡 183
마들 183
마장 183
마천 183
마포 183
마포구청 183
망원 183
매봉 183
먹골 183
면목 183
명동 183
명일 183
모란 183
목동 183
몽촌토성(평화의문) 183
무악재 183
문래 183
문정 183
미아(서울사이버대학) 183
미아사거리 183
반포 183
발산 183
방배 183
방이 183
방화 183
버티고개 183
보라매 183
보문 183
복정 183
봉천 183
봉화산(서울의료원) 183
부천시청 183
부천종합운동장 183
부평구청 183
불광 183
사가정 183
사당 183
산성 183
삼각지 183
삼산체육관 183
삼성(무역센터) 183
상계 183
상도 183
상동 183
상봉(시외버스터미널) 183
상수 183
상왕십리 183
상월곡(한국과학기술연구원) 183
상일동 183
새절(신사) 183
서대문 183
서울 183
서울대입구(관악구청) 183
서초 183
석계 183
석촌 183
선릉 183
성수 183
성신여대입구(돈암) 183
송정 183
송파 183
수락산 183
수서 183
수유(강북구청) 183
수진 183
숙대입구(갈월) 183
숭실대입구(살피재) 183
시청 183
신금호 183
신길 183
신답 183
신당 183
신대방 183
신대방삼거리 183
신도림 183
신림 183
신사 183
신설동 183
신용산 183
신정(은행정) 183
신정네거리 183
신중동 183
신촌 183
신풍 183
신흥 183
쌍문 183
아차산(어린이대공원후문) 183
아현 183
안국 183
안암(고대병원앞) 183
암사 183
압구정 183
애오개 183
약수 183
양재(서초구청) 183
양천구청 183
양평 183
어린이대공원(세종대) 183
여의나루 183
여의도 183
역삼 183
역촌 183
연신내 183
영등포구청 183
영등포시장 183
오금 183
오목교(목동운동장앞) 183
옥수 183
온수(성공회대입구) 183
올림픽공원(한국체대) 183
왕십리(성동구청) 183
용답 183
용두(동대문구청) 183
용마산 183
우장산 183
월곡(동덕여대) 183
월드컵경기장(성산) 183
을지로3가 183
을지로4가 183
을지로입구 183
응암 183
이대 183
이수 183
이촌(국립중앙박물관) 183
이태원 183
일원 183
잠실(송파구청) 183
잠실나루 183
잠실새내 183
잠원 183
장승배기 183
장암 183
장지 183
장한평 183
제기동 183
종각 183
종로3가 183
종로5가 183
종합운동장 183
중계 183
중곡 183
중화 183
증산(명지대앞) 183
지축 183
창동 183
창신 183
천왕 183
천호(풍납토성) 183
철산 183
청구 183
청담 183
청량리(서울시립대입구) 183
총신대입구(이수) 183
춘의 183
충무로 183
충정로(경기대입구) 183
태릉입구 183
하계 183
학동 183
학여울 183
한강진 183
한성대입구(삼선교) 183
한양대 183
합정 183
행당 183
혜화 183
홍대입구 183
홍제 183
화곡 183
화랑대(서울여대입구) 183
회현(남대문시장) 183
효창공원앞 183

# 지하철 몇주전 평균낼껀지 lastnday에 넣는다

In [209]:
lastnday=8

In [210]:
from tqdm import tqdm
for i in tqdm(df_down_temp.reset_index()['역명'].unique()):
    try:
        for j in df['요일'].unique():
            for k,val in enumerate(df_down_.loc[i,j].index):
                if k>7:
                    df_down_temp.loc[(i,j,val)] = np.mean(df_down_.loc[i,j].iloc[k-lastnday:k])
                else :
                    df_down_temp.loc[i,j].iloc[k] = df_down_.loc[i,j].iloc[k]
    except:
        print(i,j,val)

100%|████████████████████████████████████████████████████████████████████████████████| 242/242 [00:57<00:00,  4.23it/s]

In [211]:
new_df_ = pd.DataFrame(df_down_temp.reset_index().drop(['요일'],axis=1).set_index(['역명','date']).stack())
new_df_= new_df_.reset_index()
new_df_.columns = ['역명','date','시간','4주평균하차수']

In [212]:
new_df_

           역명       date     시간   4주평균하차수
0        가락시장 2019-12-06    5-6   195.000
1        가락시장 2019-12-06    6-7   454.000
2        가락시장 2019-12-06    7-8  1336.000
3        가락시장 2019-12-06    8-9  1717.000
4        가락시장 2019-12-06   9-10  1167.000
...       ...        ...    ...       ...
885715  효창공원앞 2020-05-26  20-21   215.000
885716  효창공원앞 2020-05-26  21-22   191.250
885717  효창공원앞 2020-05-26  22-23   142.375
885718  효창공원앞 2020-05-26  23-24    56.625
885719  효창공원앞 2020-05-26  24-01     1.625

[885720 rows x 4 columns]

In [213]:
all_new_df['8주평균승차수']=new_df_['4주평균하차수']

In [183]:
all_new_df = deepcopy(new_df_)

In [215]:
# all_new_df.to_pickle('data/all_new_df.pickle')
new_df_ = pd.read_pickle('data/all_new_df.pickle')

In [217]:
new_df_

,역명,date,시간,8주평균하차수,4주평균하차수,2주평균하차수,2주평균승차수,4주평균승차수,8주평균승차수
0,가락시장,2019-12-06,5-6,95.000,95.00,95.0,195.0,195.00,195.000
1,가락시장,2019-12-06,6-7,409.000,409.00,409.0,454.0,454.00,454.000
2,가락시장,2019-12-06,7-8,912.000,912.00,912.0,1336.0,1336.00,1336.000
3,가락시장,2019-12-06,8-9,3065.000,3065.00,3065.0,1717.0,1717.00,1717.000
4,가락시장,2019-12-06,9-10,1526.000,1526.00,1526.0,1167.0,1167.00,1167.000
...,...,...,...,...,...,...,...,...,...
885715,효창공원앞,2020-05-26,20-21,270.250,262.50,290.5,234.0,202.25,215.000
885716,효창공원앞,2020-05-26,21-22,243.250,245.00,275.5,220.0,189.25,191.250
885717,효창공원앞,2020-05-26,22-23,213.750,215.25,225.5,130.0,129.50,142.375
885718,효창공원앞,2020-05-26,23-24,133.375,141.00,140.5,62.0,54.75,56.625
885719,효창공원앞,2020-05-26,24-01,23.375,18.00,20.5,0.5,0.50,1.625

# 요일 공휴일 코로나단계 합치기

In [219]:
df_date = makefulldate()
df = pd.merge(df_date,df, on = 'date',how='left')
##요일 공휴일 데이터프레임화
df_yo1 = df1[['date','요일','공휴일']].drop_duplicates()
df_yo = df[['date','요일','공휴일']].drop_duplicates()
df_yo['주말제외공휴일'] = df1['공휴일']

df_down = df[df['구분']=='하차']
df_down.drop(columns=['호선','역번호','합 계'], inplace =True)
df_1 = df_down[col_need].groupby(['역명','date']).sum()

df_up = df[df['구분']=='승차']
df_up.drop(columns=['호선','역번호','합 계'], inplace =True)
df_2 = df_up[col_need].groupby(['역명','date']).sum()

new_df = pd.DataFrame(df_1.stack())
new_df.reset_index(inplace = True)
new_df.columns=['역명','date','시간','하차']
new_df['승차']=df_2.stack().values
do = pd.read_csv('data/feature_list_dy.csv',parse_dates=['date'])
new_df = pd.merge(new_df,df_yo,on = 'date',how='left')#######################################
new_df = pd.merge(new_df,do[['date','corona_stage']],on = 'date',how='left')##################
new_df['구'] = [1 if dfyoon.station_gu_dic[i] in dfyoon.gu_list else 0 for i in new_df['역명'] ]
renew_df = new_df[new_df['구']==1]

C:\Users\YOON\anaconda3\envs\nlp\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [220]:
renew_df = pd.merge(renew_df, new_df_, on=['역명','date','시간'], how='left')

---

# 여기부터 시작 위 과정 생략

In [224]:
# renew_df.to_pickle('data/all_new_df.pickle')
renew_df = pd.read_pickle('data/all_new_df.pickle')
renew_df

,역명,date,시간,하차,승차,요일,공휴일,주말제외공휴일,corona_stage,구,8주평균하차수,4주평균하차수,2주평균하차수,2주평균승차수,4주평균승차수,8주평균승차수
0,가락시장,2020-02-01,5-6,92,163,토요일,1,0,0,1,81.875,73.75,55.5,102.0,128.75,151.250
1,가락시장,2020-02-01,6-7,301,249,토요일,1,0,0,1,311.875,277.75,222.0,211.5,249.25,264.375
2,가락시장,2020-02-01,7-8,328,411,토요일,1,0,0,1,347.500,316.00,262.5,285.5,361.00,406.000
3,가락시장,2020-02-01,8-9,535,592,토요일,1,0,0,1,596.750,534.00,451.5,442.5,590.25,645.250
4,가락시장,2020-02-01,9-10,635,629,토요일,1,0,0,1,678.750,610.75,499.0,520.5,652.00,737.250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544495,효창공원앞,2020-05-31,20-21,163,96,일요일,1,0,1,1,155.875,161.25,165.5,131.5,121.50,112.875
544496,효창공원앞,2020-05-31,21-22,155,103,일요일,1,0,1,1,153.125,154.50,145.0,100.0,103.75,97.625
544497,효창공원앞,2020-05-31,22-23,140,82,일요일,1,0,1,1,127.125,137.75,142.0,89.5,88.75,79.500
544498,효창공원앞,2020-05-31,23-24,88,19,일요일,1,0,1,1,93.875,100.50,96.5,36.5,36.00,33.625
544499,효창공원앞,2020-05-31,24-01,6,0,일요일,1,0,1,1,9.000,9.00,7.0,0.0,0.25,0.125

# 코로나 감염자데이터 지난 last_nday 데이터 합치기

In [225]:
for i,val in enumerate(renew_df['역명'].unique()):
    df_sta = dfyoon.sta_merg(val, last_nday=7)
    df_sta['역명']=val
    if i==0:
        df_conc = df_sta
    else :
        df_conc = pd.concat([df_conc,df_sta],axis=0)
    ra = pd.merge(renew_df,df_conc, on = ['date','역명'],how='left')
ra.drop('구', axis=1, inplace=True)

C:\Users\YOON\nlp\worksp\big_contest\modeling\function.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sumcount"][i] = sum(df[col_name][:i])
C:\Users\YOON\nlp\worksp\big_contest\modeling\function.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sumcount"][i] = sum(df[col_name][i - last_nday : i])

# 검색어트랜드 합치기

## 순서대로 실행하기

In [234]:
import pandas as pd
import copy
from tqdm import tqdm

In [235]:
df_3_temp = pd.read_pickle('다듬지않은 검색어트렌드(원본보기용).pkl')
df_3_temp
# df_3.rename(columns={'period':'date'}, inplace=True)

# df_3 = df_3.set_index('date')
# df_3.fillna(0, inplace=True)
# df_3_temp = copy.deepcopy(df_3)

,title,keywords,data
0,가락시장역,"[가락시장역 맛집, 가락시장역 카페, 가락시장역 놀거리, 가락시장역 데이트, 가락시...","[{'period': '2020-01-24', 'ratio': 34.8659}, {..."
1,가산디지털단지역,"[가산디지털단지역 맛집, 가산디지털단지역 카페, 가산디지털단지역 놀거리, 가산디지털...","[{'period': '2020-01-24', 'ratio': 25.70951}, ..."
2,강남역,"[강남역 맛집, 강남역 카페, 강남역 놀거리, 강남역 데이트, 강남역 구경, 강남역...","[{'period': '2020-01-24', 'ratio': 59.909}, {'..."
3,강남구청역,"[강남구청역 맛집, 강남구청역 카페, 강남구청역 놀거리, 강남구청역 데이트, 강남구...","[{'period': '2020-01-24', 'ratio': 29.60172}, ..."
4,강동역,"[강동역 맛집, 강동역 카페, 강동역 놀거리, 강동역 데이트, 강동역 구경, 강동역...","[{'period': '2020-01-24', 'ratio': 32.13483}, ..."
...,...,...,...
239,홍제역,"[홍제역 맛집, 홍제역 카페, 홍제역 놀거리, 홍제역 데이트, 홍제역 구경, 홍제역...","[{'period': '2020-01-24', 'ratio': 46.43962}, ..."
240,화곡역,"[화곡역 맛집, 화곡역 카페, 화곡역 놀거리, 화곡역 데이트, 화곡역 구경, 화곡역...","[{'period': '2020-01-24', 'ratio': 59.00243}, ..."
241,화랑대(서울여대입구)역,"[화랑대(서울여대입구)역 맛집, 화랑대(서울여대입구)역 카페, 화랑대(서울여대입구)...",[]
242,회현(남대문시장)역,"[회현(남대문시장)역 맛집, 회현(남대문시장)역 카페, 회현(남대문시장)역 놀거리,...",[]
243,효창공원앞역,"[효창공원앞역 맛집, 효창공원앞역 카페, 효창공원앞역 놀거리, 효창공원앞역 데이트,...","[{'period': '2020-01-30', 'ratio': 81.81818}, ..."

In [237]:
# 값이 아예 0인 지하철역 뽑기
empty_list = []
for i in range(len(df_3_temp)):
    if len(df_3_temp['data'][i]) == 0:
        empty_list.append(df_3_temp['title'][i].replace('역', ''))


subway = pd.read_csv("data/서울 지하철역 좌표.csv")
subway_list = list((set(subway['역명'])))
subway_list.sort()
a_sub_b = [x for x in subway_list if x not in empty_list]

len(a_sub_b)

192

In [202]:
df_3_temp.reset_index(drop=True, inplace=True)

In [203]:
df_3_temp[df_3_temp['title']=='서울역']

,title,keywords,data
0,가락시장역,"[가락시장역 맛집, 가락시장역 카페, 가락시장역 놀거리, 가락시장역 데이트, 가락시...","[{'period': '2020-01-24', 'ratio': 34.8659}, {..."
1,가산디지털단지역,"[가산디지털단지역 맛집, 가산디지털단지역 카페, 가산디지털단지역 놀거리, 가산디지털...","[{'period': '2020-01-24', 'ratio': 25.70951}, ..."
2,강남역,"[강남역 맛집, 강남역 카페, 강남역 놀거리, 강남역 데이트, 강남역 구경, 강남역...","[{'period': '2020-01-24', 'ratio': 59.909}, {'..."
3,강남구청역,"[강남구청역 맛집, 강남구청역 카페, 강남구청역 놀거리, 강남구청역 데이트, 강남구...","[{'period': '2020-01-24', 'ratio': 29.60172}, ..."
4,강동역,"[강동역 맛집, 강동역 카페, 강동역 놀거리, 강동역 데이트, 강동역 구경, 강동역...","[{'period': '2020-01-24', 'ratio': 32.13483}, ..."
...,...,...,...
186,혜화역,"[혜화역 맛집, 혜화역 카페, 혜화역 놀거리, 혜화역 데이트, 혜화역 구경, 혜화역...","[{'period': '2020-01-24', 'ratio': 65.58959}, ..."
187,홍대입구역,"[홍대입구역 맛집, 홍대입구역 카페, 홍대입구역 놀거리, 홍대입구역 데이트, 홍대입...","[{'period': '2020-01-24', 'ratio': 38.43416}, ..."
188,홍제역,"[홍제역 맛집, 홍제역 카페, 홍제역 놀거리, 홍제역 데이트, 홍제역 구경, 홍제역...","[{'period': '2020-01-24', 'ratio': 46.43962}, ..."
189,화곡역,"[화곡역 맛집, 화곡역 카페, 화곡역 놀거리, 화곡역 데이트, 화곡역 구경, 화곡역...","[{'period': '2020-01-24', 'ratio': 59.00243}, ..."
190,효창공원앞역,"[효창공원앞역 맛집, 효창공원앞역 카페, 효창공원앞역 놀거리, 효창공원앞역 데이트,...","[{'period': '2020-01-30', 'ratio': 81.81818}, ..."

In [231]:
df = pd.DataFrame(columns=a_sub_b, index=range(0,221))
for j in tqdm(range(len(a_sub_b))):
    if len(df_3_temp['data'][j]) == 221:    
        for i in range(221): 
            df.iloc[i][j] = df_3_temp['data'][j][i]['ratio']
    else:
        for m in range(len(df_3_temp['data'][j])):
            try:
                df.iloc[m][j] = df_3_temp['data'][j][m]['ratio']
            except IndexError:
                df.iloc[m][j] = None
                continue

100%|████████████████████████████████████████████████████████████████████████████████| 191/191 [00:05<00:00, 35.87it/s]

## 일 수 바꾸려면 여기서 바꾸기

In [246]:
df_ = pd.DataFrame(data=[], columns=df.columns)
for i in range(len(df)):
    df_ = df_.append(pd.DataFrame(data=[df.iloc[i:i+8].mean()], columns=df.columns))

In [248]:
import datetime
import pandas
dt_index = pandas.date_range(start='2020-02-01', end='2020-09-08')
dt_list = dt_index.strftime("%Y-%m-%d").tolist()
# df_.insert(0,"period",dt_list,True)
df_['period'] = pd.to_datetime(dt_list)
df_.reset_index(drop=True, inplace=True)

In [241]:
# df_[:213].to_pickle("검색어트렌드.pkl")
df_3 = pd.read_pickle("검색어트렌드.pkl")
df_3_temp = copy.deepcopy(df_3)

In [242]:
df_3_temp

,period,가락시장,가산디지털단지,강남,강남구청,강동,강동구청,개롱,개화산,거여,...,학여울,한강진,한양대,합정,행당,혜화,홍대입구,홍제,화곡,효창공원앞
0,2020-02-01,56.657084,52.691983,68.752328,56.754570,53.651681,52.767171,61.216514,48.076918,37.248316,...,13.238001,51.138389,50.681812,63.969790,36.184207,71.422574,45.432973,57.352936,76.110093,56.818178
1,2020-02-02,60.201145,55.571783,69.426415,62.526905,57.949434,55.725186,63.560264,49.999995,38.590599,...,16.651285,54.888389,53.863631,69.255659,41.557014,72.744436,46.811976,62.267798,79.060214,54.545450
2,2020-02-03,63.697314,57.512516,69.747143,65.621630,60.533704,57.347324,67.075889,50.274720,40.939593,...,19.880066,56.238835,60.909085,72.100858,43.421049,72.099240,46.559901,62.577395,80.976273,52.272723
3,2020-02-04,65.852486,61.101831,67.626983,69.631317,60.280895,58.015262,67.968745,52.060435,42.197981,...,21.033204,52.377229,62.272721,70.060225,42.872803,65.993490,43.075322,62.035600,78.026151,53.409086
4,2020-02-05,69.779689,64.461597,65.574883,73.789014,60.337075,61.736638,66.350441,53.159336,43.456371,...,21.217706,51.049104,61.818176,70.033256,42.653504,61.209605,40.776984,61.726002,76.064472,53.409086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,2020-08-27,52.442524,44.803834,32.041092,45.061890,53.370782,50.572514,54.408480,37.774720,47.399323,...,6.088555,19.966514,43.409086,31.427539,36.184206,20.887532,25.993470,52.283276,58.485397,NaN
209,2020-08-28,49.712639,43.405671,29.548924,40.931104,50.533704,51.049612,52.678569,33.928566,47.902677,...,6.431201,19.196424,40.227269,30.011681,35.635960,19.298149,24.214111,49.612998,57.314473,NaN
210,2020-08-29,45.641758,43.196990,28.415187,39.639391,49.466289,48.664116,52.734372,34.065929,47.483215,...,5.904053,18.526781,37.272722,29.580181,36.293855,18.380189,22.835107,49.380800,56.873475,NaN
211,2020-08-30,40.996164,39.858091,26.316470,37.150155,49.185390,46.469460,50.223211,31.456039,45.469791,...,6.346858,17.578120,34.772723,27.422684,34.320171,17.367809,21.915773,47.213616,54.972623,NaN
212,2020-08-31,38.840993,38.272115,24.416343,34.889660,47.893255,44.370222,48.493301,31.043951,43.624154,...,6.457560,16.819191,33.506489,24.986510,31.578944,16.061681,20.255036,46.439622,53.649629,NaN

In [243]:
df_3_temp.set_index('period', inplace=True)

In [244]:
import numpy as np
df_3_temp = df_3_temp/np.mean(df_3)
df_3_temp = df_3_temp.stack().reset_index()
df_3_temp.columns=['date','역명','검색트랜드']
df_3_temp['date'] = pd.to_datetime(df_3_temp['date'])
rara = pd.merge(ra, df_3_temp, on = ['date','역명'],how='left')

In [245]:
rara

,역명,date,시간,하차,승차,요일,공휴일,주말제외공휴일,corona_stage,8주평균하차수,4주평균하차수,2주평균하차수,2주평균승차수,4주평균승차수,8주평균승차수,행정구역_확진자,전국_확진자,검색트랜드
0,가락시장,2020-02-01,5-6,92,163,토요일,1,0,0,81.875,73.75,55.5,102.0,128.75,151.250,0,0.0,0.927823
1,가락시장,2020-02-01,6-7,301,249,토요일,1,0,0,311.875,277.75,222.0,211.5,249.25,264.375,0,0.0,0.927823
2,가락시장,2020-02-01,7-8,328,411,토요일,1,0,0,347.500,316.00,262.5,285.5,361.00,406.000,0,0.0,0.927823
3,가락시장,2020-02-01,8-9,535,592,토요일,1,0,0,596.750,534.00,451.5,442.5,590.25,645.250,0,0.0,0.927823
4,가락시장,2020-02-01,9-10,635,629,토요일,1,0,0,678.750,610.75,499.0,520.5,652.00,737.250,0,0.0,0.927823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544495,효창공원앞,2020-05-31,20-21,163,96,일요일,1,0,1,155.875,161.25,165.5,131.5,121.50,112.875,0,276.0,NaN
544496,효창공원앞,2020-05-31,21-22,155,103,일요일,1,0,1,153.125,154.50,145.0,100.0,103.75,97.625,0,276.0,NaN
544497,효창공원앞,2020-05-31,22-23,140,82,일요일,1,0,1,127.125,137.75,142.0,89.5,88.75,79.500,0,276.0,NaN
544498,효창공원앞,2020-05-31,23-24,88,19,일요일,1,0,1,93.875,100.50,96.5,36.5,36.00,33.625,0,276.0,NaN
544499,효창공원앞,2020-05-31,24-01,6,0,일요일,1,0,1,9.000,9.00,7.0,0.0,0.25,0.125,0,276.0,NaN

# 한양대기준트렌드

In [246]:
import pandas as pd
df_han = pd.read_pickle('data/검색어트렌드_한양대_final.pkl')
df_han.set_index('date', inplace=True)

In [247]:
newcol=[]
for i in df_han.columns:
    newcol.append(i[:-1])

In [248]:
df_han.columns = newcol

In [249]:
df_han = df_han.stack().reset_index()
df_han.columns=['date','역명','검색트랜드(한양)']
df_han['date'] = pd.to_datetime(df_han['date'])
rara = pd.merge(rara, df_han, on = ['date','역명'],how='left')

In [250]:
rara[rara['역명']=='서울']

,역명,date,시간,하차,승차,요일,공휴일,주말제외공휴일,corona_stage,8주평균하차수,4주평균하차수,2주평균하차수,2주평균승차수,4주평균승차수,8주평균승차수,행정구역_확진자,전국_확진자,검색트랜드,검색트랜드(한양)
266200,서울,2020-02-01,5-6,214,542,토요일,1,0,0,311.375,298.00,293.5,427.0,495.25,540.000,0,0.0,NaN,152.595057
266201,서울,2020-02-01,6-7,1632,515,토요일,1,0,0,2082.625,1848.50,1801.0,507.0,508.75,519.000,0,0.0,NaN,152.595057
266202,서울,2020-02-01,7-8,1838,675,토요일,1,0,0,2420.625,2301.00,2068.5,815.5,799.75,853.625,0,0.0,NaN,152.595057
266203,서울,2020-02-01,8-9,2509,1406,토요일,1,0,0,2912.875,2658.50,2439.5,1575.5,1644.75,1875.375,0,0.0,NaN,152.595057
266204,서울,2020-02-01,9-10,3321,1714,토요일,1,0,0,4299.000,3864.75,3510.5,1748.0,2106.00,2482.500,0,0.0,NaN,152.595057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268615,서울,2020-05-31,20-21,1515,1811,일요일,1,0,1,1435.250,1534.00,1541.0,1664.0,1767.25,1553.750,1,276.0,NaN,158.370518
268616,서울,2020-05-31,21-22,1091,1732,일요일,1,0,1,1004.625,1127.75,1109.0,1757.0,1836.50,1579.625,1,276.0,NaN,158.370518
268617,서울,2020-05-31,22-23,718,1467,일요일,1,0,1,684.000,767.00,753.0,1262.5,1333.00,1164.000,1,276.0,NaN,158.370518
268618,서울,2020-05-31,23-24,408,429,일요일,1,0,1,351.750,395.00,400.5,463.0,484.75,404.125,1,276.0,NaN,158.370518
268619,서울,2020-05-31,24-01,55,1,일요일,1,0,1,58.125,66.25,62.5,5.5,4.50,4.000,1,276.0,NaN,158.370518

In [283]:
import re
rara['시간'] =[int(re.findall('(.*)-',i)[0]) for i in rara['시간']]

IndexError: list index out of range

In [284]:
rara['시간'] =[int(i) for i in rara['시간']]

# 기상데이터

In [327]:
df_wea = pd.read_pickle('data/날씨(기상자료개방포털).pkl')
df_wea.head()

        date 시간  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)
0 2020-01-01  0    -6.5      0.0      0.0     38
1 2020-01-01  1    -5.9      0.0      1.7     40
2 2020-01-01  2    -5.7      0.0      0.1     42
3 2020-01-01  3    -5.6      0.0      0.0     46
4 2020-01-01  4    -5.4      0.0      0.0     50

In [328]:
df_wea['date'] = pd.to_datetime(df_wea['date'])
df_wea['시간'].astype(int)
df_wea['시간'] = [24 if i==0 else i for i in df_wea['시간'] ]
from dateutil.relativedelta import relativedelta
df_wea['date'] = [i - relativedelta(days=1) if df_wea['시간'][idx]==24 else i for idx, i in enumerate(df_wea['date'])]

In [329]:
df_wea

           date  시간  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)
0    2019-12-31  24    -6.5      0.0      0.0     38
1    2020-01-01   1    -5.9      0.0      1.7     40
2    2020-01-01   2    -5.7      0.0      0.1     42
3    2020-01-01   3    -5.6      0.0      0.0     46
4    2020-01-01   4    -5.4      0.0      0.0     50
...         ...  ..     ...      ...      ...    ...
5851 2020-08-31  19    28.0      0.0      3.5     73
5852 2020-08-31  20    27.6      0.0      2.5     73
5853 2020-08-31  21    27.1      0.0      2.4     74
5854 2020-08-31  22    26.8      0.0      2.3     76
5855 2020-08-31  23    26.6      0.0      2.9     74

[5856 rows x 6 columns]

In [332]:
rara = pd.merge(rara, df_wea, on=['date','시간'], how='left')

# 버스+지하철 데이터

In [341]:
df_bus_up = pd.read_pickle('data/버스지하철_총승차.pkl')
df_bus_down = pd.read_pickle('data/버스지하철_총하차.pkl')

In [342]:
def prp(df):
    df['사용일자'] = pd.to_datetime(df['사용일자'], format='%Y%m%d')
    df.rename(columns={'사용일자':'date','지하철역':'역명'}, inplace=True)
    df.set_index(['역명','date'],inplace=True)
    df.columns = [5 if idx==0 else int(i[:2]) for idx, i in enumerate(df.columns)]
    return df

In [343]:
df_bus = prp(df_bus_up)

In [298]:
df_bus_up['지하철역'].unique()

array(['가락시장', '가산디지털단지', '강남', '강남구청', '강동', '강동구청', '강변(동서울터미널)', '개롱',
       '개화산', '거여', '건대입구', '경복궁(정부서울청사)', '경찰병원', '고덕', '고려대(종암)',
       '고속터미널', '공덕', '공릉(서울과학기술대)', '광나루(장신대)', '광명사거리', '광화문(세종문화회관)',
       '광흥창(서강)', '구로디지털단지', '구산', '구의(광진구청)', '구파발', '군자(능동)',
       '굽은다리(강동구민회관앞)', '금호', '길동', '길음', '김포공항', '까치산', '낙성대', '남구로',
       '남부터미널(예술의전당)', '남성', '남태령', '내방', '노원', '녹번', '녹사평(용산구청)', '논현',
       '답십리', '당고개', '당산', '대림(구로구청)', '대청', '대치', '대흥(서강대앞)', '도곡',
       '도림천', '도봉산', '독립문', '독바위', '돌곶이', '동대문', '동대문역사문화공원', '동대입구',
       '동묘앞', '동작(현충원)', '둔촌동', '디지털미디어시티', '뚝섬', '뚝섬유원지', '마곡', '마들',
       '마장', '마천', '마포', '마포구청', '망원', '매봉', '먹골', '면목', '명동', '명일', '모란',
       '목동', '몽촌토성(평화의문)', '무악재', '문래', '문정', '미아(서울사이버대학)', '미아사거리',
       '반포', '발산', '방배', '방이', '방화', '버티고개', '보라매', '보문', '복정', '봉천',
       '봉화산(서울의료원)', '불광', '사가정', '사당', '삼각지', '삼성(무역센터)', '상계', '상도',
       '상봉(시외버스터미널)', '상수', '상왕십리', '상월곡(한국과학기술연구원)', '상일동', '새절(신사)',
       '서대문', '서울대입구(관악구청)', '서울역', '서초', '석계', '석촌', '성수', '성신여대입구(돈암)',
       '송정', '송파', '수락산', '수서', '수유(강북구청)', '숙대입구(갈월)', '숭실대입구(살피재)',
       '시청', '신금호', '신길', '신답', '신당', '신대방', '신대방삼거리', '신도림', '신림', '신사',
       '신설동', '신용산', '신정(은행정)', '신정네거리', '신촌', '신풍', '쌍문',
       '아차산(어린이대공원후문)', '아현', '안국', '안암(고대병원앞)', '암사', '압구정', '애오개', '약수',
       '양재(서초구청)', '양천구청', '양평', '어린이대공원(세종대)', '여의나루', '여의도', '역삼', '역촌',
       '연신내', '영등포구청', '영등포시장', '오금', '오목교(목동운동장앞)', '옥수', '온수(성공회대입구)',
       '올림픽공원(한국체대)', '왕십리(성동구청)', '용답', '용두(동대문구청)', '용마산', '우장산',
       '월곡(동덕여대)', '월드컵경기장(성산)', '을지로3가', '을지로4가', '을지로입구', '응암', '이대',
       '이수', '이촌(국립중앙박물관)', '이태원', '일원', '잠실(송파구청)', '잠실나루', '잠실새내', '잠원',
       '장승배기', '장지', '장한평', '제기동', '종각', '종로3가', '종로5가', '종합운동장', '중계',
       '중곡', '중화', '증산(명지대앞)', '지축', '창동', '창신', '천왕', '천호(풍납토성)', '철산',
       '청구', '청담', '청량리(서울시립대입구)', '총신대입구(이수)', '충무로', '충정로(경기대입구)',
       '태릉입구', '하계', '학동', '학여울', '한강진', '한성대입구(삼선교)', '한양대', '합정', '행당',
       '혜화', '홍대입구', '홍제', '화곡', '화랑대(서울여대입구)', '회현(남대문시장)', '효창공원앞'],
      dtype=object)

In [ ]:
new_df = pd.DataFrame(df_1.stack())
new_df.reset_index(inplace = True)
new_df.columns=['역명','date','시간','하차']
new_df['승차']=df_2.stack().values

In [349]:
df_b = pd.DataFrame(df_bus.stack())
df_b.reset_index(inplace=True)
df_b.columns=['역명','date','시간','지+버승차']
df_b['지+버하차'] = prp(df_bus_down).stack().values

In [352]:
rara = pd.merge(rara,df_b, on=['역명','date','시간'], how='left')

In [353]:
rara.to_pickle('merged_exceptsub.pickle')

In [149]:
# rara = pd.read_pickle('merged_exceptsub.pickle')

In [360]:
rara[['역명','검색트랜드(한양)']][rara['역명']=='홍대입구'],rara[['역명','검색트랜드(한양)']][rara['역명']=='한양대']

(          역명  검색트랜드(한양)
 529980  홍대입구  10.630724
 529981  홍대입구  10.630724
 529982  홍대입구  10.630724
 529983  홍대입구  10.630724
 529984  홍대입구  10.630724
 ...      ...        ...
 532395  홍대입구   4.752771
 532396  홍대입구   4.752771
 532397  홍대입구   4.752771
 532398  홍대입구   4.752771
 532399  홍대입구   4.752771

 [2420 rows x 2 columns],
          역명  검색트랜드(한양)
 520300  한양대  18.203371
 520301  한양대  18.203371
 520302  한양대  18.203371
 520303  한양대  18.203371
 520304  한양대  18.203371
 ...     ...        ...
 522715  한양대  18.243862
 522716  한양대  18.243862
 522717  한양대  18.243862
 522718  한양대  18.243862
 522719  한양대  18.243862

 [2420 rows x 2 columns])