In [12]:
import pandas as pd

In [13]:
bus_date = pd.read_csv('./BUS_STATION_BOARDING_MONTH_202002.csv',encoding = 'cp949')
bus_date

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200201,100,100번(하계동~용산구청),11428,한성여객종점,14,4,20200204
1,20200201,100,100번(하계동~용산구청),11387,노원평생학습관,7,0,20200204
2,20200201,100,100번(하계동~용산구청),11373,중계역,27,2,20200204
3,20200201,100,100번(하계동~용산구청),11381,중계목화아파트4단지,120,13,20200204
4,20200201,100,100번(하계동~용산구청),11311,인덕대학,172,123,20200204
...,...,...,...,...,...,...,...,...
1118042,20200229,1111,1111번(번동~성북동),08128,KT월곡지사,43,38,20200303
1118043,20200229,1111,1111번(번동~성북동),08130,종암SK아파트,41,73,20200303
1118044,20200229,1111,1111번(번동~성북동),08134,동덕여대앞,75,58,20200303
1118045,20200229,1111,1111번(번동~성북동),08153,종암동주민센터,134,188,20200303
1118046,20200229,1111,1111번(번동~성북동),08151,종암경찰서,179,88,20200303

In [14]:
len(bus_date['역명'].unique())

8065

In [15]:
bus_col = bus_date.columns

In [9]:
bus_col = list(bus_col)
bus_col

['사용일자', '노선번호', '노선명', '버스정류장ARS번호', '역명', '승차총승객수', '하차총승객수', '등록일자']

In [18]:
bus_date_need = bus_date[['사용일자', '버스정류장ARS번호', '역명', '승차총승객수', '하차총승객수']]
bus_date_need

             사용일자 버스정류장ARS번호          역명  승차총승객수  하차총승객수
0        20200201      11428      한성여객종점      14       4
1        20200201      11387     노원평생학습관       7       0
2        20200201      11373         중계역      27       2
3        20200201      11381  중계목화아파트4단지     120      13
4        20200201      11311        인덕대학     172     123
...           ...        ...         ...     ...     ...
1118042  20200229      08128      KT월곡지사      43      38
1118043  20200229      08130     종암SK아파트      41      73
1118044  20200229      08134       동덕여대앞      75      58
1118045  20200229      08153     종암동주민센터     134     188
1118046  20200229      08151       종암경찰서     179      88

[1118047 rows x 5 columns]

### 역은 충분하고 날짜별로 있긴 한데, 시간별이 없네;
시간별은 그 데이터에서 따오고 날짜별 분포만 여기서 따와야 하나?

## 근데 그것도 결국 예측의 예측이잖아...;